.file-input-container {
    margin-top: 1rem;
  }
  
  .image-preview {
    text-align: center;
    margin-top: 1rem;
  }
  
  .image-preview img {
    max-width: 30%;
    height: auto;
    border: 1px solid #ccc;
    padding: 0.5rem;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }

  .no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

.no-resize {
  resize: none;
}