.catalogo-container {
  padding: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
}

mat-card {
  width: 100%;
}

mat-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cantidad-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;

  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .cantidad-input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
  }
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  mat-card img {
    height: 150px; 
  }

  .cantidad-input {
    width: 60px;
  }
}

@media (min-width: 960px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  mat-card img {
    height: 200px; 
  }

  .cantidad-input {
    width: 70px;
  }
}

@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  mat-card img {
    height: 250px; 
  }

  .cantidad-input {
    width: 80px;
  }
}
