<div class="datos-personales-container" *ngIf="usuario">
  <mat-card class="datos-personales-card">
    <mat-card-title style="display: flex; justify-content: center; margin-bottom: 0.5rem;">Datos Personales</mat-card-title>
    <mat-card-content>
      <form *ngIf="!cambiandoPassword" (ngSubmit)="guardarCambios()" class="datos-form">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="usuario.email" name="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Celular</mat-label>
          <input matInput [(ngModel)]="usuario.telefono" name="telefono" required>
        </mat-form-field>
        <div class="actions">
          <button mat-raised-button color="primary" type="submit">Guardar Cambios</button>
          <button mat-button color="primary" (click)="cambiandoPassword = true">Cambiar Contraseña</button>
          <button mat-button color="primary" (click)="irMisOrdenes()">Mis Órdenes</button>
        </div>
      </form>

      <form *ngIf="cambiandoPassword" (ngSubmit)="cambiarPassword()" class="password-form">
        <mat-form-field appearance="fill">
          <mat-label>Contraseña Actual</mat-label>
          <input matInput type="password" [(ngModel)]="oldPassword" name="oldPassword" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Nueva Contraseña</mat-label>
          <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirmar Nueva Contraseña</mat-label>
          <input matInput type="password" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" required>
        </mat-form-field>
        <div class="actions">
          <button mat-raised-button color="primary" type="submit">Guardar Cambios</button>
          <button mat-raised-button color="warn" type="button" (click)="cambiandoPassword = false">Cancelar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
