
.sidenav-container {
  height: 100%;
  background-color: #37474F;
}

mat-sidenav {
  width: 220px; 
  background-color: #263238; 
}


mat-nav-list {
  padding: 8px 0; 
}

mat-nav-list a {
  padding: 8px 16px;
  color: white !important; 
  text-decoration: none; 
  transition: background-color 0.3s ease; 
}

mat-nav-list a:hover,
mat-nav-list a.active {
  background-color: #546E7A; 
}

.logo-container {
  text-align: center;
  padding: 1rem;
}

.welcome-msg {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.item {
  display: flex;
  align-items: center !important; 
}

.item mat-icon {
  color: white; 
  margin-right: 8px; 
  font-size: 1.5rem; 
  align-self: center;

}

.item span {
  font-size: 1rem; 
  font-weight: bold; 
  color: white; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  align-self: center;
}


.menu-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: white; 
  color: #263238; 
}

.cart-button {
  position: absolute;
  top: 10px;
  right: 10px; 
  z-index: 1000;
  background-color: white;
  color: #263238;
}

.router-outlet-container {
  margin-top: 56px; 
}