<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened">
    <div class="logo-container">
      <img src="../../assets/logo2.png" alt="Logo de la aplicación">
    </div>
    <div class="welcome-msg" style="cursor: pointer;" routerLink="/datos">¡Bienvenido!</div>
    <mat-nav-list>
      <a mat-list-item *ngIf="isLoggedIn && isAdmin" routerLink="/productos" routerLinkActive="active" class="item">
        <div style="display: flex; align-items: center;">
        <mat-icon>inventory</mat-icon>
        <span>Productos</span>
      </div>
      </a>
      <a mat-list-item *ngIf="isLoggedIn && isAdmin" routerLink="/insumos" routerLinkActive="active" class="item">
        <div style="display: flex; align-items: center;">
        <mat-icon>list</mat-icon>
        <span>Insumos</span>
      </div>
      </a>
      <a mat-list-item *ngIf="isLoggedIn && (isPanadero || isAdmin)" routerLink="/ordenes" routerLinkActive="active" class="item">
        <div style="display: flex; align-items: center;">
        <mat-icon>assignment</mat-icon>
        <span>Órdenes</span>
      </div>
      </a>
      <a mat-list-item *ngIf="isLoggedIn && (isUser || isAdmin)" routerLink="/catalogo" routerLinkActive="active" class="item">
        <div style="display: flex; align-items: center;">
        <mat-icon>shopping_basket</mat-icon>
        <span>Catálogo</span>
      </div>
      </a>
      <a mat-list-item *ngIf="isLoggedIn && isAdmin" routerLink="/panaderos" routerLinkActive="active" class="item">
        <div style="display: flex; align-items: center;">
        <mat-icon>groups</mat-icon>
        <span>Panaderos</span>
      </div>
      </a>
      <a mat-list-item *ngIf="isLoggedIn" (click)="logout()" class="item" style="cursor: pointer;">
        <div style="display: flex; align-items: center;">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="top-bar">
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button (click)="navigateToCart()" class="cart-button">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
    <div class="router-outlet-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
