<!-- insumos.component.html -->
<div class="container">
  <div class="header">
    <div class="title">
      <h1>Insumos</h1>
    </div>
    <div class="actions">
      <mat-form-field appearance="fill" class="filter" style="margin-right: 1rem;">
        <mat-label>Filtro</mat-label>
        <mat-select [(value)]="filterField" (selectionChange)="onFilterChange()">
          <mat-option value="nombre">Nombre</mat-option>
          <!-- Agregar más opciones de filtro si es necesario -->
        </mat-select>
      </mat-form-field>

      <!-- Campo de búsqueda dinámico -->
      <ng-container>
        <mat-form-field appearance="fill" class="search" style="margin-right: 1rem;">
          <mat-label>Buscar</mat-label>
          <input matInput [(ngModel)]="filterValue" (input)="onFilterChange()">
        </mat-form-field>
      </ng-container>

      <button mat-raised-button color="primary" (click)="openAddInsumoDialog()">Agregar Insumo</button>
    </div>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
      </ng-container>

      <!-- Costo Column -->
      <ng-container matColumnDef="costo">
        <th mat-header-cell *matHeaderCellDef> Costo </th>
        <td mat-cell *matCellDef="let element"> {{element.costo}} </td>
      </ng-container>

      <!-- Descripción Column -->
      <ng-container matColumnDef="unidad">
        <th mat-header-cell *matHeaderCellDef> Unidad </th>
        <td mat-cell *matCellDef="let element"> {{element.unidad}} </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button style="background-color: rgb(214, 195, 25); color: #000;" (click)="editInsumo(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button style="background-color: #8d2828; color: #000;" (click)="confirmDelete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="total" [pageSize]="limit" [pageSizeOptions]="[5, 10, 20]" (page)="changePage($event)">
    </mat-paginator>
    
  </div>
</div>
