<!-- ver-insumos-totales-dialog.component.html -->
<h2 mat-dialog-title>Insumos Totales para Órdenes Pendientes</h2>
<mat-dialog-content>
  <table mat-table [dataSource]="insumosTotales" class="mat-elevation-z8">
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.insumo.nombre }}</td>
    </ng-container>
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef>Cantidad</th>
      <td mat-cell *matCellDef="let element">{{ element.cantidad }} {{element.insumo.unidad}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="['nombre', 'cantidad']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['nombre', 'cantidad']"></tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button>
</mat-dialog-actions>
