<div class="login-container">
  <mat-card>
    <mat-card-title>Iniciar Sesión</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Correo Electrónico</mat-label>
          <input matInput formControlName="email" type="email">
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Correo es requerido</mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Correo no válido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" type="password">
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Contraseña es requerida</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Ingresar</button>
      </form>
      <div class="register-link">
        <a routerLink="/register">¿Aún no estás registrado? Crea una cuenta aquí</a>
        <br>
        <a routerLink="/forgot-password">Has olvidado tu contraseña?</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>

  