<div class="forgot-password-container">
    <mat-card>
      <mat-card-title style="display: flex; justify-content: center; margin-bottom: 0.5rem;">Recuperar Contraseña</mat-card-title>
      <mat-card-content>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Correo Electrónico</mat-label>
              <input matInput formControlName="email" type="email">
              <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">Correo es requerido</mat-error>
              <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Correo no válido</mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="!forgotPasswordForm.valid" class="full-width">Enviar</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  