<h1 mat-dialog-title>{{ data.producto ? 'Modificar Producto' : 'Agregar Producto' }}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="producto.nombre">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Precio</mat-label>
    <input matInput type="number" [(ngModel)]="producto.precio" class="no-spinner">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Descripción</mat-label>
    <textarea matInput [(ngModel)]="producto.descripcion" class="no-resize"></textarea>
  </mat-form-field>
  <div class="file-input-container">
    <label>Imagen</label>
    <input type="file" (change)="onFileSelected($event)" accept="image/*">
  </div>
  <div *ngIf="producto.imagen" class="image-preview">
    <img [src]="producto.imagen" alt="Vista previa de la imagen" />
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()">{{ data.producto ? 'Guardar' : 'Agregar' }}</button>
</div>
