.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    color: gray;
  }
  
  .left-align {
    text-align: left;
  }
  
  .mat-header-cell {
    text-align: left;
  }
  
  .mat-cell {
    text-align: left;
  }
  
  