.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    color: gray;
  }
  
  .left-align {
    text-align: left;
  }
  
  .mat-header-cell {
    text-align: left;
  }
  
  .mat-cell {
    text-align: left;
  }
  
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }